<div class="input-field p-3">
  <button mat-flat-button type="submit" class="submit" (click)="ModalCreateTask()">Crear Tarea</button>
</div>

<div class="col-12 row m-0 p-0">
  <div class="col-12 row m-0 p-3">
    <div class="col-12 row m-0 p-3" style="background-color: #2b343b; border-radius: 20px;">

      <div class="col-6 row m-0 p-0 back">
        <div class="col-2 row m-0 justify-content-start align-items-center">
          <span class="px-3 txt align-items-center" style="color: white;">Tareas</span>
        </div>

        <div class="col-5 d-flex flex-column align-items-center">
          <p class="w-100 text-center m-0" style="color: white;">Tareas</p>
          <div class="col-12 row m-1 p-0 justify-content-end back styleCard">
            <div class="col-4 row m-0 p-1 align-items-center justify-content-start">
              <span class="col-1 material-icons text-success">timer</span>
              <span class="col-3 justify-content-end" style="color: black;">{{ this.count?.baja }}</span>
            </div>
            <div class="col-4 row m-0 p-1 align-items-center justify-content-center">
              <span class="col-1 material-icons text-warning">timer</span>
              <span class="col-3 justify-content-end" style="color: black;">{{ this.count?.media }}</span>
            </div>
            <div class="col-4 row m-0 p-1 justify-content-center align-items-center">
              <span class="col-1 material-icons text-danger">timer</span>
              <span class="col-3 justify-content-end" style="color: black;">{{ this.count?.alta }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 row m-0 p-0 justify-content-end back">

        <div class="col-9 row m-0 p-1 search-bar-container">
          <mat-form-field class="stylesForm">
            <mat-icon matPrefix class="icon-search ">search</mat-icon>
            <input matInput [(ngModel)]="filterValue" (ngModelChange)="applyFilter(filterValue)" placeholder="Buscar">
          </mat-form-field>
        </div>

        <div class="col-2 m-0 p-1 d-flex justify-content-center align-items-center">
          <div class="example-button-row">
            <button mat-flat-button class="buttonRefresh" (click)="GetTask()">
              <mat-icon>refresh</mat-icon>
            </button>
          </div>
        </div>

      </div>

      <div class="col-12 row m-0 mt-4">
        <ng-container *ngFor="let task of this.tasks">
          <div class="col-12 col-md-6 col-lg-4 p-2">
            <mat-card class="example-card h-100" appearance="outlined">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image col-12"></div>
                <mat-card-title>{{ task.nameTask }}</mat-card-title>
                <mat-card-subtitle>{{ task.fecha | date: 'short' }}</mat-card-subtitle>
                <div class="icon-container">
                  <span class="material-icons" style="color: #0197fa; cursor: pointer;" (click)="ModalUpdateTask(tasks)">edit</span>
                  <span class="material-icons" style="color: #ff0000; cursor: pointer;">delete</span>
                </div>
              </mat-card-header>
              <mat-card-content>
                <p>{{ task.description }}</p>
              </mat-card-content>
              <mat-card-actions class="d-flex justify-content-between px-3 pb-2">
                <span class="priority badge text-dark" [ngClass]="{
                  'bg-danger': task.priority === 'Alta',
                  'bg-warning': task.priority === 'Media',
                  'bg-success': task.priority === 'Baja'
                }">
                  Prioridad: {{ task.priority }}
                </span>
                <span class="state badge bg-secondary">Estado: {{ task.state }}</span>
              </mat-card-actions>
              <div class="px-3 pb-3 text-end">
                <strong>{{ task.userGestion }}</strong>
              </div>
            </mat-card>
          </div>
        </ng-container>
      </div>

    </div>
  </div>
</div>
