::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 30px !important;
  background: #e5f0fd !important;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  background: #e5f0fd;
}

::-webkit-scrollbar-thumb {
  background: #0070ff;
  -webkit-border-radius: 1ex;
  border-radius: 1ex;
}

.form {
  display: grid;
  width: 100%;
}

.input-field {
  position: relative;
  display: flex;
}

h2 {
  color: #014077;
}

::ng-deep .mdc-button {
  min-width: 50px;
}

.buttonStl {
  color: #fff !important;
  background: #0070ff !important;
}

.buttonStl:disabled {
  opacity: 0.7;
}

::ng-deep text-lg-right {
  border: none;
  border-radius: 30px;
}

::ng-deep .cdk-overlay-pane {
  max-width: 100% !important;
  padding: 0 12px;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: whitesmoke;
  border-radius: 30px;
}

legend {
  display: none;
}

.colorInput {
  background-color: white !important;
}

::ng-deep .mat-mdc-text-field-wrapper {
  width: 100%;
  background-color: white;
}

.mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-text-field__input::placeholder {
  transition:
    opacity 67ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #646464;
}

.mat-mdc-select-placeholder {
  transition:
color 400ms 133.3333333333ms cubic-bezier(0.25, 0.8, 0.25, 1);
  color: rgb(0, 0, 0) !important;
}

.mat-mdc-select-placeholder ::mat-mdc-select-min-line ng-tns-c3393473648-4 ng-star-inserted{
  color: rgb(0, 0, 0) !important;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: black !important; /* Asegura que el texto ingresado sea negro */
}

::ng-deep .mat-mdc-select-placeholder {
  transition:
color 400ms 133.3333333333ms cubic-bezier(0.25, 0.8, 0.25, 1);
  color: #646464 !important;
}

/* Asegura que el texto ingresado en los inputs sea negro */
::ng-deep .mat-mdc-form-field .mdc-text-field__input {
  color: black !important; /* Texto ingresado en negro */
}

/* Asegura que el texto seleccionado en los selects sea negro */
::ng-deep .mat-mdc-select-value {
  color: black !important; /* Texto seleccionado en negro */
}

/* Asegura que el placeholder de los selects sea gris */
::ng-deep .mat-mdc-select-placeholder {
  color: #646464 !important; /* Placeholder en gris */
}

/* Asegura que el placeholder de los inputs sea gris */
::ng-deep .mdc-text-field__input::placeholder {
  color: #646464 !important; /* Placeholder en gris */
  opacity: 1; /* Asegura que el color sea visible */
}

.submit {
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 30px;
  font-size: 15px;
  background: #0070ff !important;
  color: #fff !important;
  cursor: pointer;
}
